* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Header */
.header {
  background-color: #132431;
}

.header .container {
  width: 60%;
  margin: 0 auto;
  padding: 16px;
}

.header .container .logo {
  width: 50px;
}

/* Main */

main .container {
  width: 55%;
  margin: 0 auto;
  padding: 30px;
  background-color: #182d3d;
}

main .container .main-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

main .container .main-list .list-item {
  margin: 40px 30px;
  background-color: #000;
  padding: 10px 20px;
  width: calc(100% / 3 - 60px);
  color: #fff;
  text-align: center;
}

main .container .main-list .list-item .cover {
  width: 115px;
}

main .container .main-list .list-item .info-album {
  margin: 20px 0;
}
