* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #182d3d;
}

/* Header */
.header {
  background-color: #132431;
}

.header .container {
  width: 60%;
  margin: 0 auto;
  padding: 16px;
}

.header .container .logo {
  width: 50px;
}

/* Main */

main .container {
  width: 55%;
  margin: 0 auto;
  padding: 30px;
  background-color: #182d3d;
}

main .container .main-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

main .container .main-list .list-item {
  margin: 40px 30px;

  width: calc(100% / 3 - 60px);
  color: #fff;
  text-align: center;
}

main .container .main-list .list-item .container-album {
  background-color: black;
  width: 80%;
  margin: 0 auto;
  padding: 15px 20px;
}

main .container .main-list .list-item .cover {
  width: 120px;
}

main .container .main-list .list-item .info-album {
  margin: 20px 0;
}

main .container .main-list .list-item .info-album .title-cd {
  margin: 15px 0;
  font-size: 16px;
  font-weight: 500;
}

main .container .main-list .list-item .info-album .author,
main .container .main-list .list-item .info-album .genre {
  font-size: 12px;
  margin: 10px 0;
}

main .container .main-list .list-item .info-album .year {
  font-size: 14px;
  font-weight: 500;
}
